<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pessoaForm">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" th:field="*{nome}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Endereço</label>
        <input type="text" class="form-control" th:field="*{endereco}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Data de Nascimento</label>
        <input type="date" class="form-control" th:field="*{dtNascimento}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Documento</label>
        <input type="text" class="form-control" th:field="*{documento}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input type="text" class="form-control" th:field="*{telefone}" />
    </div>
</div>
</html>